html {
  background: radial-gradient(circle, rgba(0,0,0,1) 35%, rgba(255,255,255,1) 100%);
}
h4 {
  margin: 0;
  font-size: 33px;
  color: rgb(255, 255, 255);
  padding: 0 10%;
  text-shadow: 2px 2px 2px black;
}
h2 {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  color: rgb(255, 182, 182);
  text-shadow: 1px 1px 1px black;
    padding: 0 10%;
}
.container {
  width: auto;
  height: auto;
}
.music-player {
  position: relative;
  width: 400px;
  height: 585px;
  margin: auto;
  margin-top: 9%;
  border-radius: 0 0 10px 10px;
  background: transparent
  radial-gradient(circle, rgba(255,255,255,1) 35%, rgba(0,0,0,1) 100%);
  box-shadow: 1px 10px 20px 5px #222;
}
.cover {
  float: left;
  width: 100%;
  height: 66%;
}
.cover img {
  display: block;
  position: absolute;
  top: 8%;
  left: 14%;
  width: 70%;
  margin: auto;
  text-align: center;
}
.autor {
  float: left;
  width: 100%;
}
.player {
  width: 86%;
  padding-left: 25px;
  position:sticky;